#ticker {
    overflow: hidden;
    height: 21px;
    vertical-align: middle;
    width: 937px;
    box-sizing: border-box;
    position: fixed;
    font-family: 'Helvetica';
    left: 155px;
    background: black;
    color: white;
    font-weight: bold;
    top: 585px;
    z-index: 10;
}
#ticker ul{
  display:block;
  padding:0px;
  line-height:21px;
  vertical-align:middle;
  margin:0px;
  list-style:none;
  white-space: nowrap;
  animation: scroll 20s linear 0s infinite;
    position: absolute;
  width:100%;
  
}
#ticker ul li{
  display: inline-block;
  white-space: normal;
  margin-left:20px;
}
#ticker .title{
  background-color:transparent;
  color:#FFF;
  position:absolute;
  left:0;
  font-weight:bold;
  top:0;
  display:block;
  height:30px;
  vertical-align:middle;
  line-height:30px;
  padding-left:10px;
  padding-right:10px;
  z-index:10;
}
@keyframes scroll {
    from {
      transform: translate(100%,0);
      
    }

    to {
       transform: translate(-100%,0);
      
    }
}


